# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: KleeContrib.Dfta
i18n:
  translateReferences: false
pluralizeTableNames: true
csharp:
  - tags: [back, commands, queries, api-commands, api-queries]
    variables:
      requiredNonNullable: true
    tagVariables:
      commands:
        nonPersistentModelPath: "{app}.{module}.Commands.Models"
      queries:
        nonPersistentModelPath: "{app}.{module}.Queries.Models"
      api-commands:
        nonPersistentModelPath: "{app}.Api/Models/Commands"
        requiredNonNullable: false
      api-queries:
        nonPersistentModelPath: "{app}.Api/Models/Queries"
    outputDirectory: ../sources/back
    persistentModelPath: "{app}.Clients.Db/{module}/Models"
    referencesModelPath: "{app}.Common/References/{module}"
    nonPersistentModelPath: "{nonPersistentModelPath}"
    dbContextPath: "{app}.Clients.Db"
    apiRootPath: "{app}.Api"
    apiGeneration: Server
    useRecords: true
    enumsForStaticReferences: true
    usePrimaryConstructors: true
    nullableEnable: true
    requiredNonNullable: "{requiredNonNullable}"

javascript:
  - tags: [front]
    outputDirectory: ../sources/front/src
    modelRootPath: model
    apiClientRootPath: services
    resourceRootPath: locale
    domainPath: ./domains
    fetchPath: ./server
    extendedCompositions: true
