# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: KleeContrib.Dfta
i18n:
  translateReferences: false
pluralizeTableNames: true
csharp:
  - tags: [back, back-queries, back-commands, back-external]
    variables:
      apiRootPath: "{app}.Api"
      apiGeneration: Server
      requiredNonNullable: true
    tagVariables:
      back-queries:
        nonPersistentModelPath: "{app}.{module}.Queries.Models"
      back-commands:
        nonPersistentModelPath: "{app}.{module}.Commands.Models"
        requiredNonNullable: false
      back-external:
        nonPersistentModelPath: "{app}.Clients.{module}/Models"
        apiRootPath: "{app}.Clients.{module}"
        apiGeneration: Client
    outputDirectory: ../sources/back
    persistentModelPath: "{app}.Clients.Db/{module}/Models"
    referencesModelPath: "{app}.Common/References/{module}"
    nonPersistentModelPath: "{nonPersistentModelPath}"
    dbContextPath: "{app}.Clients.Db"
    apiRootPath: "{apiRootPath}"
    apiGeneration: "{apiGeneration}"
    useRecords: true
    enumsForStaticReferences: true
    usePrimaryConstructors: true
    nullableEnable: true
    requiredNonNullable: "{requiredNonNullable}"

javascript:
  - tags: [front]
    outputDirectory: ../sources/front/src
    modelRootPath: model
    apiClientRootPath: services
    resourceRootPath: locale
    domainPath: ./domains
    fetchPath: ./server
    extendedCompositions: true
