# yaml-language-server: $schema=./topmodel.config.schema.json
---
app: KleeContrib.Dfta
i18n:
  translateReferences: false
pluralizeTableNames: true
csharp:
  - tags: [back, commands, queries, api-commands]
    variables:
      requiredNonNullable: true
    tagVariables:
      commands:
        nonPersistentModelPath: "{app}.{module:head}.Commands.Models"
      queries:
        nonPersistentModelPath: "{app}.{module:head}.Queries/Models"
      api-commands:
        nonPersistentModelPath: "{app}.Api/Models/Commands/{module:head}"
        requiredNonNullable: false
    outputDirectory: ../sources/back
    persistentModelPath: "{app}.Clients.Db/{module:head}/Models"
    referencesModelPath: "{app}.Common/References/{module}"
    nonPersistentModelPath: "{nonPersistentModelPath}"
    referenceAccessorsInterfacePath: "{app}.{module}.Queries"
    dbContextPath: "{app}.Clients.Db"
    apiRootPath: "{app}.Api"
    apiFilePath: "{module:head}"
    apiGeneration: Server
    nullableEnable: true
    requiredNonNullable: "{requiredNonNullable}"

javascript:
  - tags: [front]
    outputDirectory: ../sources/front/src
    modelRootPath: model
    apiClientRootPath: services
    apiClientFilePath: "{module:head}"
    resourceRootPath: locale
    domainPath: ./domains
    fetchPath: ./server
    extendedCompositions: true
