name: kleecontrib-dfta
services:
  bdd:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root5432
      - POSTGRES_DB=kleecontrib_dfta
    volumes:
      - bdd-data:/var/lib/postgresql

volumes:
  bdd-data:
