.header {
    --input-on-main-color: white;
    --input-on-secondary-color: var(--header-toprow-background);
    --focus-ring-color: white;
    --input-outline-color: white;
    --input-text-color: white;
    --text-field-min-width: 0;

    --fil-ariane-item-color: white;
    --fil-ariane-item-active-color: white;
}

.item {
    display: flex;
    align-items: center;
}

.item strong {
    font-weight: 600;
    margin-right: 10px;
}

.button:not([disabled]) {
    color: rgb(var(--header-color));
}
