:root {
    --preferred-font: Manrope;
    --color-primary: var(--palette-purple-400);
    --color-primary-light: var(--palette-purple-100);
    --color-accent: var(--palette-purple-300);
    --button-accent-hover-opacity: 0.09;
    --button-line-height-delta: -1px;

    --header-toprow-background: rgb(var(--palette-purple-400));

    --input-text-color: white;

    --fil-ariane-item-color: white;
    --fil-ariane-item-active-color: white;

    --main-menu-item-height: 80px;
}

:root[dark] {
    --color-primary: var(--palette-purple-300);
    --color-primary-light: var(--palette-purple-800);
    --color-accent: var(--palette-purple-200);
    --button-primary-secondary-color: rgba(var(--color-black), 0.9);
    --button-accent-hover-opacity: 0.18;
}

a {
    color: rgb(var(--color-primary));
    font-weight: 500;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 1;
}
